html{
    font-size: 62.5%;
}

body{
    background: var(--main-bg-color) url(../images/pattern-background-desktop.svg) no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
   max-width: 45rem;
   display: flex;
   flex-direction: column;
}

.container .image{
    border-radius: 1.5rem 1.5rem 0 0;
}

.container .order-sumary{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 1.5rem 1.5rem;
    box-shadow: 0px 20px 30px #01010128;
}

.container .order-sumary .info-content{
    text-align: center;
    padding: 0 7.7rem;
}
.container .order-sumary .info-content h1{
    font-size: 2.8rem;
    font-weight: 900;
    margin-top: 4.5rem;
    color: var(--primary-text-color);
}

.container .order-sumary .info-content p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 1.6rem;
}

.container .order-sumary .plan-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.7rem;
    border-radius: 1rem;
    width: 78%;
    padding: 2.5rem;
    background-color: var(--secundary-bg-color);
}

.container .order-sumary .plan-description .product-plan{
    font-size: 1.6rem;
    padding-right: 7.4rem;
}

.container .order-sumary .plan-description .product-plan :first-child{
    margin-bottom: 0.5rem;
    font-weight: 900;
}
.container .order-sumary .plan-description::before{
    content: url(../images/icon-music.svg);

}


.container .order-sumary .plan-description .btn-change{
    font-size: 1.4rem;
    font-weight: 700;
}

.container .order-sumary .plan-description .btn-change:hover{
    text-decoration: none;
}

.container .order-sumary .btn-confirm{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 1.5rem 10.1rem;
    border-radius: 1rem;
    background-color: var(--primary-medium-color);
    box-shadow: 0px 20px 30px #01010136;
    margin-top: 3rem;
}

.container .order-sumary .btn-confirm:hover{
    opacity: 0.8;
}

.container .order-sumary .btn-cancel{
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--secundary-text-color);
    margin: 3.3rem 0 4.7rem;
}