:root{
    --main-bg-color: hsl(225, 100%, 94%);
    --primary-medium-color:hsl(245, 75%, 52%);
    --primary-text-color: hsl(223, 47%, 23%);
    --secundary-text-color:hsl(224, 23%, 55%);
    --secundary-bg-color: hsl(225, 100%, 98%);
}